/* OVERALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #acacac;
    transition: .8s ease-in-out;
}

/* CONTAINERS */

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh;
}

#media-container {
    display: flex;
    margin: 10px;
}

/* SOCIAL MEDIAS */

.media {
    width: 150px;
    height: 150px;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s ease-in-out;
    flex-direction: column;
}

.media.active {
    border-radius: 1rem;
    transform: translateY(-10px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.text {
    display: none;
}

.display {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

/* Icons */

.media i {
    font-size: 40px;
    color: white;
}

/*---------------------------------------------------------------------- */
    /* Facebook */
#facebook {
    background-color: #3b5998;
}

#facebook:hover {
    background-color: #5679c5;
}

    /* Twitter */
#twitter {
    background-color: #1da1f2;
}

#twitter:hover {
    background-color: #44b0f3;
}


    /* Instagram */
#instagram {
    background-color: #c32aa3;
}

#instagram:hover {
    background-color: #e445c1;
}
